.bikers-zone-light-red {
  background-color: #e76f51;
  height: 25px;
  width: 25px;
  border-radius: 13px;
}
.bikers-zone-star-rating-color {
  color: #ea8167;
}
.bikers-zone-decorate-title-color {
  color: #e76f51;
}
.bikers-zone-button-color {
  background-color: #e76f51;
  color: #fff;
  padding: 0.5rem 1rem;
  font-weight: 500;
}
.bikers-zone-button-color:hover {
  background-color: #dd5432;
  color: #fff;
  padding: 0.5rem 1rem;
  font-weight: 500;
}
.card-img-overlay {
  background-image: linear-gradient(to left, #0f0f0f00, #272525);
}
